 <!-- About Section -->
    <section class="success" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center features-title">
                    <h2>Features</h2>
                    <br/>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <p id="feat_descr">&nbsp; Hover over components for a description.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img width="1018" height="583" src="img/dashboard.png" title="Build powerful web-based dashboards" usemap="#map" id="dashboard">
                    <map name="map" id="map">
                        <area
                            data-placement="#feat_descr" data-trigger="hover" data-content="Plot messages over time by channel, status, or any other key"
                            alt="histogram" href="javascript:false;" shape="poly" coords="24,102,724,110,736,289,22,286" />
                        <area 
                            data-placement="#feat_descr" data-trigger="hover" data-content="Chart channels by number of messages"
                            alt="channel_stats" href="javascript:false;" shape="poly" coords="760,113,943,117,953,274,768,287" />
                        <area
                            data-placement="#feat_descr" data-trigger="hover" data-content="View and search events: login, logut, deploy, stop, start, etc"
                            alt="events" href="javascript:false;" shape="poly" coords="763,348,948,344,967,559,759,560" />
                        <area
                            data-placement="#feat_descr" data-trigger="hover" data-content="View the exact message content down to the HL7/XML/JSON/... payload"
                            alt="messages" href="javascript:false;" shape="poly" coords="17,353,638,352,652,568,21,565" />
                        <area
                            data-placement="#feat_descr" data-trigger="hover" data-content="Create your own dashboards"
                            alt="open" href="javascript:false;" shape="rect" coords="911,47,966,98" />
                    </map>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Unprecedented visibility</h3>
                    <p>
                        Know in near real time what is happening inside your middleware(s): <strong>messages</strong>, <strong>events</strong>, channel statistics, errors.
                        Extract daily statistics from the embedded http engine to implement proactive monitoring with any tool.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>Instant search</h3>
                    <p>
                        Middleware Insight uses the award winning <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> engine for storing data and can scale vertically and horizontally to support
                        any load.
                    </p>
                    <p>
                        Searching and aggregating across days of data is instantaneous and Middleware Insight can help reduce the load on the middleware persistence layer.
                    </p>
                    <p>
                        Drill down to the exact raw content of a <strong>single message</strong> or channel with a few mouse clicks.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3>BYOD</h3>
                    <p>
                        Bring your own dashboard.
                    </p>
                    <p>
                        Build dashboards for different users: helpdesk, IT, analysts.
                    </p>
                    <p>
                        Middleware Insight data is integration friendly and can
                        be aggregated with other system metrics (cpu, memory, etc) to build multi-faceted dashboards for Ops.
                    </p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h3>
                        Looking for <a href="{{site.baseurl}}/docs/">documentation</a>?
                    </h3>
                </div>
            </div>
        </div>
    </section>