    <!-- Header -->
    <header id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Middleware Insight exports middleware data (messages, events, stats) into Elasticsearch for browsing, troubleshooting, and monitoring.</span>
                        <p class="skills">It currently supports <strong>Mirth Connect</strong> <a href="https://www.mirth.com/">&copy;</a> and will export events and channel activity into Elasticsearch/Kibana.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
