    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Middleware Insight exports middleware data (messages, events, stats) into Elasticsearch for browsing, troubleshooting, and monitoring.</span>
                        <span class="skills">It currently supports <a href="https://www.mirth.com/">Mirth Connect</a> and will export events and channel activity into Elasticsearch/Kibana.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
