<section id=manual style="margin-top: 50px;">
    <div class=container>
        <h3>Requirements</h3>
        <p>
            Middleware Insight requires the following to run:
            <ul>
                <li>linux host, preferrably RedHat or a derivative (i.e.: Centos)</li>
                <li>Oracle JDK 1.8</li>
                <li>1GB of disk space, 2GB RAM</li>
            </ul>
        </p>
        <p>
            Middleware Insight supports the following Mirth Connect versions and databases:
            <ul>
                <li>Mirth 3.x</li>
                <li>Oracle, Postgres and Mysql</li>
            </ul>
        </p>
        <p>
            SQLServer support is scheduled to be released soon. Please contact us if
            you need it urgently.
        </p>
    </div>
    <div class=container>
        <h3>Installation</h3>
        <p>
        
        </p>
    </div>
    <div class=container>
        <h3>Support</h3>
        <p>
            
        </p>
    </div>
</section