 <!-- About Section -->
    <section class="pricing" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Dead simple pricing:</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 text-center pricing-top">
                    <h3>
                        20 &euro; / month <sup>*</sup>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 pricing-body">
                    <br/>
                    <p>
                        Best for users familiar with Kibana and Elasticsearch.
                        <br/>
                        Features:
                        <ul>
                            <li>monitor one middleware instance: events, channels and messages</li>
                            <li>unlimited number of channels and messages</li>
                            <li>access to customer support portal</li>
                            <li>8&times;5 support</li>
                            <li>support channels: chat, email, tickets</li>
                            <li>access to upgrades and bugfixes for the validity of the subscription period</li>
                        </ul>
                    </p>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 pricing-bottom">
                    <p class="small">
                        * monitor one middleware (Mirth Connect &copy; 3.x) instance, paid upfront annually. Elasticsearch and Kibana support not included.<br>Runs on customer infrastructure.
                    </p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 text-center">
                    <p>Unfamiliar with Elasticsearch and Kibana? Need to monitor more than one instance or require higher support levels? <a href="mailto:mi@prometeo.it"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Contact us!</a></p>
                </div>
            </div>
        </div>
    </section>